{{>partials/header}}

<fieldset>
    <legend>formulario</legend>
    <form method="POST" action="/novo-usuario">
    <input type="text" name="firstName" placeholder="Digite seu nome"><br>
    <input type="text" name="lastName" placeholder="Digite seu sobrenome"><br>
    <input type="email" name="email" placeholder="Digite seu email"><br>
    <input type="text" name="age" placeholder="Digite sua idade"><br>
    <input type="text" name="interest" placeholder="Digite interesses (separando com virgula)"><br>
    <input type="submit" value="inserir"><br>
    </form>
</fieldset>

<h3>Usuarios</h3>

<ul>
{{#users}}
<li>{{name.firstName}} - {{age}} anos</li>
</ul>
{{/users}}

{{>partials/footer}}